<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name = "ConnectMsSqlString" connectionString = "Data Source=localhost;Initial Catalog=CarsDatabase;User ID=sa;Password=SecretPassword01;Encrypt=False"
			 providerName = "System.Data.SqlClient" />
    <!--The providerName is not necessary in this context-->
  </connectionStrings>
</configuration>